.trusted{
    background-color: #fafafa;
    height: 100px;
    display: flex;
    justify-content: center;
}
.containert{
    width: 760px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: rgb(154, 147, 147);
    font-weight: 800;
}

.containert img{
    height: 50px;
    object-fit: contain;
} 