.Footerf{
    display: flex;
    justify-content: center;
    color: #666;
    margin: 50px 0px;
    background-color: aliceblue;
}
.containerl{
    width: 1400px;
    display: flex;
    flex-direction: column;
}
.rightf img{
    width: 24px;
    height: 24px;
}
.topf{
    display: flex;
    justify-content: space-between;
    gap: 75px;
}
.itemsf{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.itemsf h2{
    font-size: 16px;
    color: #555;
}
.itemsf span{
    font-weight: 300;
}
.containerl hr{
    margin: 50px 0px;
    height: 0px;
    border: 1px solid #ebe9e9;
}
.bottomf {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.leftf{
    width: max-content;
    display: flex;
    align-items: center;
    gap: 20px;
}
.leftf span{
    font-size: 13px;
    white-space: nowrap;
}
.rightf{
    width: max-content;
    display: flex;
    align-items: center;
    gap: 30px;
}
.socialf{
    display: flex;
    gap: 20px;
}

.linkf{
    display: flex;
    align-items: center;
    gap: 10px;
}